.page.theme_dark {
  --main-theme-image: url(../images/cover-image-dark.png);
  --title-text-color: #db00ff;
  --main-theme-color: #000028;
  --accent-decorative-color: #ff0070;
  --card-text-color: #f1b2ce;

  .header__theme-menu,
  .section-title,
  .title::before,
  .title::after,
  .decorated-zone::before,
  .decorated-zone::after {
    --accent-decorative-color: #ff0070;
  }

  .decorative-element {
    display: block;
  }
}
